.banner{
    background-image: url(../assets/sand.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    margin: 0% !important;
    .name-logo{
        height: auto;
        width: auto;
        opacity: 1;
    }
    .banner-text{
        height: 100vh;
        transform: translateY(35%);
        p{
            font-size: 25px;
        }
        .p-dos{
            font-weight: 600;
            font-size: 35px;
        }
    }
}