
header{
    position: fixed;
    height: auto;
    width: 100%;
    border-bottom: 5px solid white;
    background-color: rgba(22, 22, 22, 0.798);
    backdrop-filter: blur(20px) !important;
    margin: 0% !important;
    z-index: 10;
    nav{
        .logo{
            height: 60px;
        }
        a{
            color: white !important;
        }
        i{
            font-size: 40px;
            color: white;
            }
        @media (min-width: 992px) {
            .menubar{
                display: none;
            }
        }
        ul{
            li{
                width: auto;
                border-bottom: 3px solid rgba(255, 255, 255, 0);
                &:hover{
                    border-bottom: 3px solid white !important;
                    transition: margin-left 4s ease-in-out 1s;
                }
            }
        }
    }
}

