.proyectos{
    background-color: white !important;
    .responsive-img{
        position: relative;
        z-index: 2;
    }
    .responsive-splash{
        position: absolute;
        height: 400px;
        opacity: 0.2;
        transform: translateY(-15%);
        z-index: 0;
    }
    a{
        text-decoration: none;
        color: white;
        background-color: rgb(28, 28, 28);
        padding: 15px;
    }  margin-bottom: 30px;
}


