.skills{
    background-image: url(../assets/wood.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.card-header{
    background-color: rgb(28, 28, 28) !important;
}
i{
    font-size: 80px;
}