.skills{
    background-image: url(../assets/wood.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
i{
    font-size: 80px;
}