@import"./header";
@import"./banner";
@import"./footer";
@import"./bio";
@import"./skills";
@import"./proyectos";

body{
    background-color: rgb(255, 255, 255) !important;
    font-family: 'Montserrat', sans-serif !important;
}
